@import "./variables/variables.css";

main img {
  max-width: 100%;
  height: auto;
  border-radius: var(--radius-small);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 1rem 0;
}

#main-content {
  section {
    max-width: var(--max-width);
    margin: 2rem auto;
    padding: var(--padding);

    h2 {
      font-family: var(--heading-font);
      font-weight: 600;
      color: var(--primary-color);
    }

    p {
      font-family: var(--body-font);
      font-weight: 400;
    }

    #mission-details {
      figure {
        margin: 1rem 0;

        img {
          border-radius: var(--border-radius);
        }
      }
    }
  }
}
