@import "./variables/variables.css";

#top-nav {
  background-color: var(--secondary-color);
  padding: var(--padding);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

  #nav-list {
    display: flex;
    justify-content: center;
    list-style: none;

    li {
      margin: 0 1rem;

      a {
        text-decoration: none;
        font-family: var(--heading-font);
        font-weight: 600;
        color: var(--text-color);

        &:hover {
          color: var(--primary-color);
        }
      }
    }
  }
}
