:root {
  --color-primary: #3b6b43;
  --color-secondary: #8aa87c;
  --color-secondary-transparent: rgba(138, 168, 124, 0.3);
  --color-accent: #f0f0e3;
  --color-text: #333333;
  --color-background: #f5f5f1;
  --color-highlight: #a05030;

  --transition-time: 0.3s;

  --font-family-main: "Roboto", sans-serif;
  --font-family-heading: "Playfair Display", serif;

  --font-size-large: 2.5em;
  --font-size-medium: 1.6em;
  --font-size-small: 1.2em;

  --max-height: 300px;
  --height-large: 40vh;
  --height-medium: 50vh;
  --height-small: 60vh;

  --mq-small: 480px;
  --mq-medium: 768px;
  --mq-large: 1024px;
}
